*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	font-family: "open Sans",sans-serif;
}


nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}

nav>ul{
	list-style-type: nav-logo;
}

nav.nav,nav.nav-logo{
	margin: 5rem;
	display: inline;
}

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;

	text-align: center;

}

#intro h2, #intro p{
	margin-bottom: 1rem;

}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}





