*{
	font-family: "Open Sans", sans-serif;
}

body{
	margin: 0;
}

h2{
	text-align: center;

}

h4{
	margin-bottom: 1rem;
}

.text{
	width: 80%;
	margin: 0 auto;
}

main{
	padding-bottom: 60px;
}

section{
	display: flex;
    background-color: steelblue;
    padding: 16px;
    color: white;
    margin: 0;
}

footer{
    padding: 16px;
}

.item{
    width: 20%;
}